.home-heading {
    font-size: 4rem;
    font-weight: 400;
}

.home-para {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #999999;
}

.my-buttons-container {
    display: flex;
    gap: 8rem;
    margin-left: 5rem;
}

.home-buttons {
    text-decoration: none;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    background: #28E98C;
    color: #000000;
    transition: .3s;
}

.home-buttons:hover {
    background: none;
    color: #28E98C;
    text-decoration: none;
    border: 2px solid #28E98C;
}

@media screen and (max-width: 768px) {
    
    .content {
        top: 38rem;
        left: -27rem;
        right: 0;
    }

    .my-buttons-container {
        gap: 2rem;
        margin-left: 0.4rem;
    }

    .home-buttons {
        padding: 0.5rem 1rem;
    }
}
