.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: -44%;
    margin-left: 15rem;
    opacity: 0.9;
    color: white;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    margin-left: 13rem;
    margin-right: 1rem;
}

.project-intro {
    color:  #28E98C;
    opacity: 0.99;
}

.project-card video {
  height: 300px;
}

.projects-title {
    font-size: 2rem;
    font-weight: 600;
    color: #999999;

}

.project-title {
    font-size: 1.5rem;
    color: #28E98C;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.project-description {
    font-size: 1rem;
    color: #ffffff;

    font-weight: 400;
    margin: auto auto;
}

.project-btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.live-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 30px;
    background: #28E98C;
    color: #000000;
    text-decoration: none;
    transition: .3s;
}

.source-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 30px;
    background: #28E98C;
    color: #000000;
    text-decoration: none;
    transition: .3s;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slide-in {
    animation: slideInFromLeft 0.5s ease;
  }

  .project-card {
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05); 
  }

@media screen and (max-width: 1200px) {
  .projects-container {
    margin-top: -165rem;
    gap : 3rem;
  }

  .project-card video {
    height: 250px;
  }

  .source-btn {
    padding: 0.3rem 1rem 0.3rem 1rem;
  }

  .live-btn {
    padding: 0.3rem 1rem 0.3rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .projects-container {
    margin-top: -115rem;
    margin-left: 0rem;
    opacity: 0.9;
    color: white;
  }

  .carousel-container {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .project-intro {
    margin-bottom: 4rem;
    max-width: 80%;
  }

  .project-card video {
    width: auto;
    height: 300px;
  }
}