.skills-container {
    margin-top: -2rem;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #28E98C;
    margin: 4px 10px;
}

.bar {
    width: 100%;
    height: 10px !important;
    border-radius: 0% !important;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill-item {
    width: calc(33.33% - 20px);
    margin: 10px;
  }

.val {
    float: right;
}

.skill {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
}

.sk {
    padding: 0 1px;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 30%;
}

.sk-ex {
    background-color: blue;
}

.sk-av {
    background-color: darkgreen;
}

.sk-inter {
    background-color: yellow;
    color: #000000;
}

.custom-color {
    background-color: #28E98C !important;
}

.interests-container {
    margin-top: 2rem;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.08);
}
